# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{cs,vb}]
dotnet_diagnostic.CA2252.severity = none

[*.{cs,vb}]
dotnet_analyzer_diagnostic.category-Usage.severity = none